body{
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.question h1{
    font-size: 40px;
    color:white;
    margin-bottom: 10px;
}

.firstButton, .secondButton{
    width: 50%;
    padding: 10px;
}

.btn { 
    width: 100%;
    margin: 10px;
}

/* .btn{
    margin: 10px;

} */


@media (max-width: 480px){

    .question h1{
      font-size: 30px;
    }
}

@media (min-width:768px){

    .question h1{
      font-size: 40px;
    }
}